layout {
    pane split_direction="vertical" {
      pane {
          name "home.nix"
          command "zsh"
          args "-i" "-c" "nvim ~/dotfiles/home-manager/home.nix; exec zsh"
      }
      pane split_direction="horizontal" {
        pane {
            command "zsh"
        }
        pane {
            command "zsh"
        }
      }
    }
    pane size=1 borderless=true {
        plugin location="status-bar"
    }
}
