layout {
  default_tab_template {
    // Top bar: mode + music | tabs | weather, cpu, memory, datetime
    pane size=1 borderless=true {
      plugin location="zjstatus" {
        // Tokyonight color palette
        color_bg      "#000000"
        color_bg1     "#24283b"
        color_bg2     "#414868"
        color_fg      "#a9b1d6"
        color_dim     "#565f89"
        color_blue    "#7aa2f7"
        color_green   "#9ece6a"
        color_yellow  "#e0af68"
        color_red     "#f7768e"
        color_cyan    "#7dcfff"
        color_magenta "#bb9af7"
        color_orange  "#ff9e64"

        format_left   "{mode}{tabs}"
        format_center "{notifications}"
        format_right  "{command_music} {command_weather} {command_cpu} {command_memo} {datetime}"
        format_space  ""
        format_hide_on_overlength "true"
        format_precedence "lrc"

        border_enabled  "false"
        border_char     "─"
        border_format   "#[fg=$bg1]{char}"
        border_position "top"

        hide_frame_for_single_pane "true"

        // Mode indicators (powerline style)
        mode_normal        "#[bg=#acc4e3,fg=$bg]#[bg=#acc4e3,fg=#000000,bold]  NORMAL#[bg=$bg,fg=#acc4e3]"
        mode_locked        "#[bg=$red,fg=$bg]#[bg=$red,fg=$bg,bold]  LOCKED#[bg=$bg,fg=$red]"
        mode_pane          "#[bg=$blue,fg=$bg]#[bg=$blue,fg=$bg,bold]  PANE#[bg=$bg,fg=$blue]"
        mode_tab           "#[bg=$yellow,fg=$bg]#[bg=$yellow,fg=$bg,bold] 󰓩 TAB#[bg=$bg,fg=$yellow]"
        mode_resize        "#[bg=$orange,fg=$bg]#[bg=$orange,fg=$bg,bold] 󰩨 RESIZE#[bg=$bg,fg=$orange]"
        mode_move          "#[bg=$orange,fg=$bg]#[bg=$orange,fg=$bg,bold]  MOVE#[bg=$bg,fg=$orange]"
        mode_scroll        "#[bg=$yellow,fg=$bg]#[bg=$yellow,fg=$bg,bold]  SCROLL#[bg=$bg,fg=$yellow]"
        mode_search        "#[bg=$magenta,fg=$bg]#[bg=$magenta,fg=$bg,bold]  SEARCH#[bg=$bg,fg=$magenta]"
        mode_enter_search  "#[bg=$magenta,fg=$bg]#[bg=$magenta,fg=$bg,bold]  SEARCH#[bg=$bg,fg=$magenta]"
        mode_session       "#[bg=$cyan,fg=$bg]#[bg=$cyan,fg=$bg,bold]  SESSION#[bg=$bg,fg=$cyan]"
        mode_tmux          "#[bg=$magenta,fg=$bg]#[bg=$magenta,fg=$bg,bold]  TMUX#[bg=$bg,fg=$magenta]"
        mode_rename_tab    "#[bg=$yellow,fg=$bg]#[bg=$yellow,fg=$bg,bold] 󰏫 RENAME#[bg=$bg,fg=$yellow]"
        mode_rename_pane   "#[bg=$yellow,fg=$bg]#[bg=$yellow,fg=$bg,bold] 󰏫 RENAME#[bg=$bg,fg=$yellow]"

        // Tab bar (powerline style)
        tab_normal              "#[bg=$bg2,fg=$bg]#[bg=$bg2,fg=$fg] {index}  #[bg=$bg2,fg=$fg,bold]{name} {floating_indicator}#[bg=$bg,fg=$bg2]"
        tab_normal_fullscreen   "#[bg=$bg2,fg=$bg]#[bg=$bg2,fg=$fg] {index}  #[bg=$bg2,fg=$fg,bold]{name} {fullscreen_indicator}#[bg=$bg,fg=$bg2]"
        tab_normal_sync         "#[bg=$bg2,fg=$bg]#[bg=$bg2,fg=$fg] {index}  #[bg=$bg2,fg=$fg,bold]{name} {sync_indicator}#[bg=$bg,fg=$bg2]"
        tab_active              "#[bg=$blue,fg=$bg]#[bg=$blue,fg=$bg] {index}  #[bg=$blue,fg=$bg,bold]{name} {floating_indicator}#[bg=$bg,fg=$blue]"
        tab_active_fullscreen   "#[bg=$blue,fg=$bg]#[bg=$blue,fg=$bg] {index}  #[bg=$blue,fg=$bg,bold]{name} {fullscreen_indicator}#[bg=$bg,fg=$blue]"
        tab_active_sync         "#[bg=$blue,fg=$bg]#[bg=$blue,fg=$bg] {index}  #[bg=$blue,fg=$bg,bold]{name} {sync_indicator}#[bg=$bg,fg=$blue]"
        tab_separator           ""

        tab_sync_indicator       ""
        tab_fullscreen_indicator "󰊓"
        tab_floating_indicator   "󰹙"

        // Notifications
        notification_format_unread "#[bg=$orange,fg=$bg1]#[bg=$orange,fg=$bg] {message} #[bg=$bg,fg=$orange]"
        notification_format_no_notifications ""
        notification_show_interval "10"

        // Music (Spotify)
        command_music_command     "bash /Users/ewoutm/dotfiles/zellij/statusbar/song.sh"
        command_music_format      "#[fg=$fg]󰝚 {stdout}"
        command_music_interval    "10"
        command_music_rendermode  "static"

        // CPU usage
        command_cpu_command    "bash /Users/ewoutm/dotfiles/zellij/statusbar/cpu.sh"
        command_cpu_format     "#[fg=$blue]  {stdout}%"
        command_cpu_interval   "30"
        command_cpu_rendermode "static"

        // Memory usage
        command_memo_command    "bash /Users/ewoutm/dotfiles/zellij/statusbar/memory.sh"
        command_memo_format     "#[fg=$blue] 󰍛 {stdout}"
        command_memo_interval   "30"
        command_memo_rendermode "static"

        // Weather
        command_weather_command     "bash /Users/ewoutm/dotfiles/zellij/statusbar/weather.sh"
        command_weather_format      "#[fg=#f3f4f6]{stdout}"
        command_weather_interval    "3600"
        command_weather_rendermode  "static"

        // Date & time
        datetime          "#[fg=#f3f4f6,bold] {format} "
        datetime_format   "%A, %d %b %Y %H:%M"
        datetime_timezone "Australia/Sydney"
      }
    }
    children
    // Bottom bar: zellij default status bar
    pane size=1 borderless=true {
      plugin location="zellij:status-bar"
    }
  }

  tab name="dotfiles" split_direction="vertical" cwd="~/dotfiles/" {
    pane close_on_exit=true {
        name "home.nix"
        command "zsh"
        args "-i" "-c" "$HOME/.nix-profile/bin/nvim home-manager/home.nix; exec zsh"
    }
    pane split_direction="horizontal" {
      pane close_on_exit=true {
          command "zsh"
      }
      pane close_on_exit=true {
          command "zsh"
      }
    }
  }


  tab name="project-1" split_direction="vertical" cwd="~/Projects/project-1/" {
    pane close_on_exit=true {
      command "zsh"
    }
    pane close_on_exit=true {
      command "zsh"
    }
  }

  tab name="project-2" split_direction="vertical" cwd="~/Projects/project-2/" {
    pane close_on_exit=true {
      command "zsh"
    }
    pane close_on_exit=true {
      command "zsh"
    }
  }
}
